<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ordering Menu</title>
    <link rel="stylesheet" th:href="@{/styles/ordering-menu.css}"
          type="text/css">
    <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"
            type="text/javascript"></script>
</head>
<body>
<header>
    <a class="logo" href=" ">Oaxaca</a>
    <nav class="navbar">
        <a href="kitchenStaffHome">Home</a> <a href="kitchenStaffOrders">Confirmed Order</a>
        <div class="navbar-right">
            <div class="logoutb">
                <button class="logoutdrop" th:text="${session.user.getUsername}"></button>
                <div class="dropcontent">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="logout" type="submit">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="centerTable">
    <nobr style="font-size: 40px">State:</nobr>
    <nobr style="font-size: 40px" th:text="${OrderContent.getState()}"></nobr>
    <table>
        <thead>
        <tr>
            <th align="left">Item Id</th>
            <th align="left">Item name</th>
            <th align="left">Required amount</th>
            <th align="left">Finished</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${Items}">
            <td class="id" th:text="${item.id}"></td>
            <td class="qty" th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td><input type="checkbox"/></td>
        </tr>
        </tbody>
    </table>
    <div class="flex">
		  <span th:if="${OrderContent.getState()}==cooking">
		    
          <form th:action="@{/finishOrder}" th:method="post">
            <button style="float: left;" type="submit">Finish</button>
            <input name="input" th:value="${OrderContent.getOrderId()}" type="hidden"/>
          </form>
        
      </span>
        <form th:action="@{/kitchenStaffOrders}" th:method="get">
            <button style="float: right;" type="submit">Return</button>
        </form>
    </div>
</div>
</body>
</html>